.wrap {
   display: flex;
   width: 80%;
   margin: 0 auto;
   flex-direction: column;
}

.word {
    text-align: center;
    margin: 20px 0 60px;
}

.inputWrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin: 20px auto;
}

.inputWrap__input {
    width: 27%;
    margin: 0 2%;
    text-align: center;
}

input {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    outline: 0;
    border: 3px solid grey;
}

.buttonWrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end
}

button {
    width: 15%;
    margin: 5px;
}

.scoreTrue {
    color: green;
}

.scoreFalse {
    color: red;
}

@media (max-width: 800px) {
    .word {
        margin-bottom: 0;
    }

    .buttonWrap {
        flex-direction: row;
    }
}
